.lsr-bg{
    background: url(./assets/images/lsr-bg.jpg) no-repeat;
    padding: 5rem 0 4rem;
}
.sec-pad{
    padding: 5rem 0 4rem;
}
.gray-bg{
    background: #f8f8f8;
}
.wdth-100{
    width: 100%;
    padding: 50px 0;
}
.no-p-r{
    padding-right: 0 !important;
}
.no-p-l{
    padding-left: 0 !important;
}